packages/gateway/node_modules
packages/gateway/.env
packages/database-service/config/config.dev.js
packages/database-service/config/config.prod.js
packages/gateway/config/config.dev.js
packages/gateway/config/config.prod.js
ecosystem.config.js
node_modules